<div >
  <div id="mydiv" class="text-center">
    <h2 style="font-weight:900;font-weight: bolder;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;">CONGRATULATIONS<br>WELL DONE! </h2>

    <button class="btn btn-success" ui-sref="overview" style="margin-top:30px;width:250px;padding:20px;font-size:larger;">START AGAIN</button>
  </div>
</div>
<style>
#mydiv {
    position:fixed;
    top: 50%;
    left: 45%;
    width:40em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border-radius: 10px;
      box-shadow: 10px 10px 5px #888888;
    background-color: #ffffff;
}
</style>
