<div>
	<div class="jumbotron">
		<div class="container">
			<h2 style="font-weight: bolder;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;" class="text-center">Let us unscramble the<br> TOTAL REWARDS icons</h2>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">

					<div class="start text-center">
						<h2 class="heading ">Instructions</h2>
						<p>1. Click and Drag the icon.</p>
						<img src="../images/icon-dragdrop.png"/>
						<p>2. Drop them in a respective Total Reward Component.</p>
						<div class="row">
							<div class="col-md-2">

							</div>
							<div class="col-md-2 text-center">
										<button class="btn" style="border-color:#909A3C;background-color:white;border-radius:20px;width:100px">Money</button>
							</div>
							<div class="col-md-2 text-center">
								<button class="btn" style="border-color:#62CCCA;background-color:white;border-radius:20px;width:100px">Health</button></div>
							<div class="col-md-2 text-center">
								<button class="btn" style="border-color:#6A1F45;background-color:white;border-radius:20px;width:100px">Career</button></div>
							<div class="col-md-2 text-center">
								<button class="btn" style="border-color:#E28330;background-color:white;border-radius:20px;width:100px">Work life</button></div>
						</div>
						<div class="col-md-2">

						</div><br>
						<p>Simple right ? Lets get started.</p>
						<button class="btn btn-success" style="width:350px;padding:10px" ui-sref="reports">START</button>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

		</div>
	</div>
</div>
<style>
	.start {
		margin-top: 40px;
		padding: 50px;
		background-color: white;
		border-radius: 10px;
	}
	.heading {
		font-weight: bolder;
		color: black;
	}
	p {
		color: black;
	}
	.btn-success {
		width: 250px;
	}
</style>
